@use "../util" as *;

.header{
  display: flex;
  flex-wrap: wrap;
  gap: rem(10);
  margin-top: rem(36);
  @include breakpoint(medium){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title{
    width: 100%;
    padding-bottom: rem(30);
    border-bottom: 3px solid var(--text1);
    margin-bottom: rem(20);
    @include breakpoint(medium){
      border: none;
      padding: 0;
      width: auto;
    }
  }

  &__subtitle{
    font-size: rem(14);
    font-weight: 700;
    color: var(--text1);
  }
}