@use "../util" as *;
//https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100
.toggle{
  border: none;
  display: grid;
  grid-template-columns: 1fr rem(60) 1fr;
  grid-template-rows: repeat(2,24px);
  gap: rem(4.8) rem(13);
  &__wrapper{
    height: rem(24);
    width: rem(72);
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    justify-self: center;
  }
  label{
    font-size: rem(14);
    align-self: center;
    &[for="dark"]{
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
    }
    &[for="system"] {
      grid-column: 1/4;
      grid-row: 2/3;
      justify-self: center;
      align-self: start;
    }
    &[for="light"]{
      grid-column: 3/4;
      grid-row: 1/2;
    }

  }
  input[type="radio"]{
    opacity: 0;
    margin: 0 -2px 0 -2px;
    cursor: pointer;
    height: 100%;
    width: calc(100%/3);
    z-index: 1;
    position: relative;
  }
  &__background{
    display: block;
    border-radius: rem(12);
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.1s ease-out;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(
                    225deg,
                    var(--toggle-bg-end) 0%,
            var(--toggle-bg-start) 98.02%);
    pointer-events: none;
  }

  &__button{
    display: block;
    position: absolute;
    border-radius: 50%;
    top: rem(3);
    left: rem(3);
    right: 100%;
    width: rem(18);
    height: rem(18);
    background-color: var(--dark-bg);
    transition: all 0.1s ease-out;
    z-index: 2;
  }
  #light:checked ~.toggle__button{
    right: rem(3);
    left:calc(100% - 21px);
  }
  #system:checked~.toggle__button{
    right: auto;
    left: 50%;
    transform: translate(-50%);
  }
}



